# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Build Artifacts
build/
dist/
*.spec.bak

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Python caches
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# PyInstaller
*.manifest
*.pkg

# Local model cache (if your app downloads models here)
models/